a{
  text-decoration: none;
  color: rgb(153, 153, 153);
  &:link{
    color: rgb(153, 153, 153);
  }
  &:visited{
    color: rgb(153, 153, 153);
  }
}

ul{
  li{
    list-style: none;
  }
}

html{
  body{
    margin: 0;
  }
}

#app{
  text-align: center;
}
